.footer{
    margin-top: 60px;
    @include media(768){
        margin-top: 50px;
    }
    &__top{
        background: #F7F7F7;
        padding: 30px 0;
        &.lg{
            @include media(992){
                display: none;
            }
        }
        &.md{
            display: none;
            @include media(992){
                display: flex;
            }
        }
        &-col{
            max-width: 176px;
        }
        &-body{
            display: flex;
            justify-content: space-between;
            column-gap: 25px;
        }
        &-title{
            font-weight: 550;
            margin-bottom: 28px;
            font-size: 16px;
            line-height: 125%;
            letter-spacing: 0.035em;
            color: #272727;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 13px;
        margin-bottom: 14px;
    }
    &__link{
        font-size: 13px;
        line-height: 125%;
        font-weight: 400;
        letter-spacing: 0.035em;
        color: #272727;
        transition: 300ms ease-out;
        &:hover{
            color: #F34743;
        }
    }
    &__more{
        font-weight: 550;
        font-size: 13px;
        line-height: 125%;
        letter-spacing: 0.035em;
        color: #272727;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 18px;
    }
    &__nav{
        padding: 23px 0 37px 0;
        @include media(576){
            padding: 30px 0;
        }
        &-body{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: 26px;
            @include media(1200){
                column-gap: 0;
                flex-wrap: wrap;
                row-gap: 20px;
            }
            @include media(576){
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }
        }
        &-row{
            flex: 1 1 auto;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @include media(1200){
                flex-direction: column;
                row-gap: 23px;
                &:first-of-type{
                    flex-direction: row;
                    order: 1;
                    width: 100%;
                    .footer__nav-col{
                        display: flex;
                        justify-content: center;
                        column-gap: 15px;
                        flex-direction: row;
                        width: 100%;
                        max-width: 100%;
                    }
                }
                &:nth-of-type(3){
                    align-items: flex-end;
                    @include media(576){
                        align-items: center;
                    }
                    .footer__nav-link{
                        text-align: right;
                    }
                }
            }
            @include media(576){
                align-items: center;
            }
        }
        &-col{
            display: flex;
            flex-direction: column;
            max-width: 205px;
            row-gap: 10px;
            @include media(576){
                flex-direction: column !important;
            }
        }
        &-p{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 5px;
            font-size: 14px;
            line-height: 125%;
            font-weight: 400;
            letter-spacing: 0.035em;
            color: #000000;
            @include media(576){
                text-align: center;
                justify-content: center;
            }  
            span{
                color: #F34743;
            }
            a{
                color: #0075FE;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        &-b{
            font-weight: 550;
            font-size: 14px;
            line-height: 125%;
            letter-spacing: 0.035em;
            color: #000000; 
            @include media(576){
                text-align: center;
            }           
        }
        &-btn{
            font-weight: 300;
            font-size: 16px;
            line-height: 16px;
            padding: 12px 18px;
            border: 1px solid #F34743;
            letter-spacing: 0.035em;
            color: #000000;
            transition: 300ms ease-out;
            &:hover{
                background: #F34743;
                color: #fff;
            }
        }
        &-link{
            font-weight: 300;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.035em;
            color: #000000;
            transition: 300ms ease-out;
            &:hover{
                color: #F34743;
            }
            span{
                font-weight: 550;
            }
        }
    }
    &__top.md{
        .footer__top{
            &-body{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                gap: 10px;
            }
        }
    }
    &__accordion{
        width: calc(33.333% - 7px);
        border: 1px solid #D7D7D7;
        @include media(768){
            width: calc(50% - 5px);
        }
        @include media(576){
            width: 100%;
        }
        &-button{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 17px 16px;
            transition: 300ms ease-out;
            svg{
                transition: 300ms ease-out;
            }
            &.active{
                background: #fff;
                svg{
                    transform: rotate(180deg);
                }
            }
        }
        &-content{
            display: none;
            background: #fff;
            padding: 3px 16px 30px 16px;
        }
        &-list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            row-gap: 15px;
        }
        &-link{
            font-weight: 400;
            font-size: 13px;
            line-height: 125%;
            letter-spacing: 0.035em;
            color: #272727;            
        }
    }
}