mixin footer()
    footer.footer   
        .footer__top.lg
            .footer__top-body.container
                .footer__top-col
                    p.footer__top-title Каталог продукции
                    ul.footer__list 
                        li.footer__li 
                            a(href="#!").footer__link Метрический крепеж  
                        li.footer__li 
                            a(href="#!").footer__link Саморезы/Шурупы
                        li.footer__li 
                            a(href="#!").footer__link Анкеры
                        li.footer__li 
                            a(href="#!").footer__link Перфорированный крепеж
                        li.footer__li 
                            a(href="#!").footer__link Перфорированный крепеж
                        li.footer__li 
                            a(href="#!").footer__link Дюбеля/Дюбель-гвозди
                        li.footer__li 
                            a(href="#!").footer__link Заклепки
                    a(href="#!").footer__more Посмотреть еще
                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0C5.34518 0 5.625 0.273604 5.625 0.611111V8.91354L8.93306 5.67899C9.17714 5.44034 9.57286 5.44034 9.81694 5.67899C10.061 5.91764 10.061 6.30458 9.81694 6.54323L5.44194 10.821C5.19786 11.0597 4.80214 11.0597 4.55806 10.821L0.183058 6.54323C-0.0610194 6.30458 -0.0610194 5.91764 0.183058 5.67899C0.427136 5.44034 0.822864 5.44034 1.06694 5.67899L4.375 8.91354V0.611111C4.375 0.273604 4.65482 0 5 0Z" fill="#F34743"/>
                        </svg>
                .footer__top-col
                    p.footer__top-title Услуги
                    ul.footer__list 
                        li.footer__li 
                            a(href="#!").footer__link Порошковая окраска крепежа  
                        li.footer__li 
                            a(href="#!").footer__link Изготовление болтов фундаментных/БСР
                        li.footer__li 
                            a(href="#!").footer__link Изготовление строп
                        li.footer__li 
                            a(href="#!").footer__link Изготовление перчаток
                        li.footer__li 
                            a(href="#!").footer__link Изготовление заглушек
                .footer__top-col
                    p.footer__top-title О компании
                    ul.footer__list 
                        li.footer__li 
                            a(href="#!").footer__link Вакансии  
                        li.footer__li 
                            a(href="#!").footer__link Конфиденциальность
                        li.footer__li 
                            a(href="#!").footer__link Персональные данные
                .footer__top-col
                    p.footer__top-title Информация
                    ul.footer__list 
                        li.footer__li 
                            a(href="#!").footer__link Полезные статьи  
                        li.footer__li 
                            a(href="#!").footer__link Таблицы DIN и ГОСТ
                .footer__top-col
                    p.footer__top-title Доставка
                    ul.footer__list 
                        li.footer__li 
                            a(href="#!").footer__link Самовывоз  
                        li.footer__li 
                            a(href="#!").footer__link Доставка по СПб и ЛО
                        li.footer__li 
                            a(href="#!").footer__link Доставка по России
                .footer__top-col
                    p.footer__top-title Контакты
                    ul.footer__list 
                        li.footer__li 
                            a(href="#!").footer__link Офис  
                        li.footer__li 
                            a(href="#!").footer__link Склад
        .footer__top.md
            .footer__top-body.container
                .accordion.footer__accordion 
                    .accordion__button.footer__accordion-button Каталог продукции 
                        <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C4.15153 0 4.29684 0.0592567 4.40399 0.164734C4.51113 0.270212 4.57133 0.41327 4.57133 0.562437V7.07883L7.02345 4.66373C7.07657 4.61144 7.13964 4.56995 7.20904 4.54165C7.27844 4.51335 7.35283 4.49879 7.42795 4.49879C7.50308 4.49879 7.57746 4.51335 7.64687 4.54165C7.71627 4.56995 7.77933 4.61144 7.83245 4.66373C7.88557 4.71602 7.92771 4.7781 7.95646 4.84643C7.9852 4.91475 8 4.98798 8 5.06193C8 5.13589 7.9852 5.20912 7.95646 5.27744C7.92771 5.34577 7.88557 5.40785 7.83245 5.46014L4.4045 8.83476C4.35143 8.88714 4.28838 8.9287 4.21897 8.95705C4.14956 8.9854 4.07515 9 4 9C3.92485 9 3.85044 8.9854 3.78103 8.95705C3.71162 8.9287 3.64857 8.88714 3.5955 8.83476L0.167549 5.46014C0.114429 5.40785 0.0722926 5.34577 0.0435445 5.27744C0.0147965 5.20912 0 5.13589 0 5.06193C0 4.98798 0.0147965 4.91475 0.0435445 4.84643C0.0722926 4.7781 0.114429 4.71602 0.167549 4.66373C0.274829 4.55812 0.420331 4.49879 0.572047 4.49879C0.64717 4.49879 0.721557 4.51335 0.790961 4.54165C0.860365 4.56995 0.923426 4.61144 0.976546 4.66373L3.42867 7.07883V0.562437C3.42867 0.41327 3.48887 0.270212 3.59601 0.164734C3.70316 0.0592567 3.84848 0 4 0Z" fill="#F34743"/>
                        </svg>
                    .accordion__content.footer__accordion-content
                        .footer__accordion-list 
                            a(href="#!").footer__accordion-link Метрический крепеж 
                            a(href="#!").footer__accordion-link Саморезы/Шурупы 
                            a(href="#!").footer__accordion-link Анкеры 
                            a(href="#!").footer__accordion-link Перфорированный крепеж 
                            a(href="#!").footer__accordion-link Дюбеля/Дюбель-гвозди 
                            a(href="#!").footer__accordion-link Заклепки 
                .accordion.footer__accordion 
                    .accordion__button.footer__accordion-button Услуги
                        <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C4.15153 0 4.29684 0.0592567 4.40399 0.164734C4.51113 0.270212 4.57133 0.41327 4.57133 0.562437V7.07883L7.02345 4.66373C7.07657 4.61144 7.13964 4.56995 7.20904 4.54165C7.27844 4.51335 7.35283 4.49879 7.42795 4.49879C7.50308 4.49879 7.57746 4.51335 7.64687 4.54165C7.71627 4.56995 7.77933 4.61144 7.83245 4.66373C7.88557 4.71602 7.92771 4.7781 7.95646 4.84643C7.9852 4.91475 8 4.98798 8 5.06193C8 5.13589 7.9852 5.20912 7.95646 5.27744C7.92771 5.34577 7.88557 5.40785 7.83245 5.46014L4.4045 8.83476C4.35143 8.88714 4.28838 8.9287 4.21897 8.95705C4.14956 8.9854 4.07515 9 4 9C3.92485 9 3.85044 8.9854 3.78103 8.95705C3.71162 8.9287 3.64857 8.88714 3.5955 8.83476L0.167549 5.46014C0.114429 5.40785 0.0722926 5.34577 0.0435445 5.27744C0.0147965 5.20912 0 5.13589 0 5.06193C0 4.98798 0.0147965 4.91475 0.0435445 4.84643C0.0722926 4.7781 0.114429 4.71602 0.167549 4.66373C0.274829 4.55812 0.420331 4.49879 0.572047 4.49879C0.64717 4.49879 0.721557 4.51335 0.790961 4.54165C0.860365 4.56995 0.923426 4.61144 0.976546 4.66373L3.42867 7.07883V0.562437C3.42867 0.41327 3.48887 0.270212 3.59601 0.164734C3.70316 0.0592567 3.84848 0 4 0Z" fill="#F34743"/>
                        </svg>
                    .accordion__content.footer__accordion-content 
                        .footer__accordion-list
                            a(href="#!").footer__accordion-link Порошковая окраска крепежа
                            a(href="#!").footer__accordion-link Изготовление болтов фундаментных/БСР
                            a(href="#!").footer__accordion-link Изготовление строп
                            a(href="#!").footer__accordion-link Изготовление перчаток
                            a(href="#!").footer__accordion-link Изготовление заглушек 
                .accordion.footer__accordion 
                    .accordion__button.footer__accordion-button О компании
                        <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C4.15153 0 4.29684 0.0592567 4.40399 0.164734C4.51113 0.270212 4.57133 0.41327 4.57133 0.562437V7.07883L7.02345 4.66373C7.07657 4.61144 7.13964 4.56995 7.20904 4.54165C7.27844 4.51335 7.35283 4.49879 7.42795 4.49879C7.50308 4.49879 7.57746 4.51335 7.64687 4.54165C7.71627 4.56995 7.77933 4.61144 7.83245 4.66373C7.88557 4.71602 7.92771 4.7781 7.95646 4.84643C7.9852 4.91475 8 4.98798 8 5.06193C8 5.13589 7.9852 5.20912 7.95646 5.27744C7.92771 5.34577 7.88557 5.40785 7.83245 5.46014L4.4045 8.83476C4.35143 8.88714 4.28838 8.9287 4.21897 8.95705C4.14956 8.9854 4.07515 9 4 9C3.92485 9 3.85044 8.9854 3.78103 8.95705C3.71162 8.9287 3.64857 8.88714 3.5955 8.83476L0.167549 5.46014C0.114429 5.40785 0.0722926 5.34577 0.0435445 5.27744C0.0147965 5.20912 0 5.13589 0 5.06193C0 4.98798 0.0147965 4.91475 0.0435445 4.84643C0.0722926 4.7781 0.114429 4.71602 0.167549 4.66373C0.274829 4.55812 0.420331 4.49879 0.572047 4.49879C0.64717 4.49879 0.721557 4.51335 0.790961 4.54165C0.860365 4.56995 0.923426 4.61144 0.976546 4.66373L3.42867 7.07883V0.562437C3.42867 0.41327 3.48887 0.270212 3.59601 0.164734C3.70316 0.0592567 3.84848 0 4 0Z" fill="#F34743"/>
                        </svg>
                    .accordion__content.footer__accordion-content 
                        .footer__accordion-list
                            a(href="#!").footer__accordion-link Вакансии
                            a(href="#!").footer__accordion-link Конфиденциальность
                            a(href="#!").footer__accordion-link Персональные данные
                .accordion.footer__accordion 
                    .accordion__button.footer__accordion-button Информация
                        <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C4.15153 0 4.29684 0.0592567 4.40399 0.164734C4.51113 0.270212 4.57133 0.41327 4.57133 0.562437V7.07883L7.02345 4.66373C7.07657 4.61144 7.13964 4.56995 7.20904 4.54165C7.27844 4.51335 7.35283 4.49879 7.42795 4.49879C7.50308 4.49879 7.57746 4.51335 7.64687 4.54165C7.71627 4.56995 7.77933 4.61144 7.83245 4.66373C7.88557 4.71602 7.92771 4.7781 7.95646 4.84643C7.9852 4.91475 8 4.98798 8 5.06193C8 5.13589 7.9852 5.20912 7.95646 5.27744C7.92771 5.34577 7.88557 5.40785 7.83245 5.46014L4.4045 8.83476C4.35143 8.88714 4.28838 8.9287 4.21897 8.95705C4.14956 8.9854 4.07515 9 4 9C3.92485 9 3.85044 8.9854 3.78103 8.95705C3.71162 8.9287 3.64857 8.88714 3.5955 8.83476L0.167549 5.46014C0.114429 5.40785 0.0722926 5.34577 0.0435445 5.27744C0.0147965 5.20912 0 5.13589 0 5.06193C0 4.98798 0.0147965 4.91475 0.0435445 4.84643C0.0722926 4.7781 0.114429 4.71602 0.167549 4.66373C0.274829 4.55812 0.420331 4.49879 0.572047 4.49879C0.64717 4.49879 0.721557 4.51335 0.790961 4.54165C0.860365 4.56995 0.923426 4.61144 0.976546 4.66373L3.42867 7.07883V0.562437C3.42867 0.41327 3.48887 0.270212 3.59601 0.164734C3.70316 0.0592567 3.84848 0 4 0Z" fill="#F34743"/>
                        </svg>
                    .accordion__content.footer__accordion-content 
                        .footer__accordion-list
                            a(href="#!").footer__accordion-link Полезные статьи
                            a(href="#!").footer__accordion-link Таблицы DIN и ГОСТ
                .accordion.footer__accordion 
                    .accordion__button.footer__accordion-button Доставка
                        <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C4.15153 0 4.29684 0.0592567 4.40399 0.164734C4.51113 0.270212 4.57133 0.41327 4.57133 0.562437V7.07883L7.02345 4.66373C7.07657 4.61144 7.13964 4.56995 7.20904 4.54165C7.27844 4.51335 7.35283 4.49879 7.42795 4.49879C7.50308 4.49879 7.57746 4.51335 7.64687 4.54165C7.71627 4.56995 7.77933 4.61144 7.83245 4.66373C7.88557 4.71602 7.92771 4.7781 7.95646 4.84643C7.9852 4.91475 8 4.98798 8 5.06193C8 5.13589 7.9852 5.20912 7.95646 5.27744C7.92771 5.34577 7.88557 5.40785 7.83245 5.46014L4.4045 8.83476C4.35143 8.88714 4.28838 8.9287 4.21897 8.95705C4.14956 8.9854 4.07515 9 4 9C3.92485 9 3.85044 8.9854 3.78103 8.95705C3.71162 8.9287 3.64857 8.88714 3.5955 8.83476L0.167549 5.46014C0.114429 5.40785 0.0722926 5.34577 0.0435445 5.27744C0.0147965 5.20912 0 5.13589 0 5.06193C0 4.98798 0.0147965 4.91475 0.0435445 4.84643C0.0722926 4.7781 0.114429 4.71602 0.167549 4.66373C0.274829 4.55812 0.420331 4.49879 0.572047 4.49879C0.64717 4.49879 0.721557 4.51335 0.790961 4.54165C0.860365 4.56995 0.923426 4.61144 0.976546 4.66373L3.42867 7.07883V0.562437C3.42867 0.41327 3.48887 0.270212 3.59601 0.164734C3.70316 0.0592567 3.84848 0 4 0Z" fill="#F34743"/>
                        </svg>
                    .accordion__content.footer__accordion-content 
                        .footer__accordion-list
                            a(href="#!").footer__accordion-link Самовывоз
                            a(href="#!").footer__accordion-link Доставка по СПб и ЛО
                            a(href="#!").footer__accordion-link Доставка по России
                .accordion.footer__accordion 
                    .accordion__button.footer__accordion-button Контакты
                        <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C4.15153 0 4.29684 0.0592567 4.40399 0.164734C4.51113 0.270212 4.57133 0.41327 4.57133 0.562437V7.07883L7.02345 4.66373C7.07657 4.61144 7.13964 4.56995 7.20904 4.54165C7.27844 4.51335 7.35283 4.49879 7.42795 4.49879C7.50308 4.49879 7.57746 4.51335 7.64687 4.54165C7.71627 4.56995 7.77933 4.61144 7.83245 4.66373C7.88557 4.71602 7.92771 4.7781 7.95646 4.84643C7.9852 4.91475 8 4.98798 8 5.06193C8 5.13589 7.9852 5.20912 7.95646 5.27744C7.92771 5.34577 7.88557 5.40785 7.83245 5.46014L4.4045 8.83476C4.35143 8.88714 4.28838 8.9287 4.21897 8.95705C4.14956 8.9854 4.07515 9 4 9C3.92485 9 3.85044 8.9854 3.78103 8.95705C3.71162 8.9287 3.64857 8.88714 3.5955 8.83476L0.167549 5.46014C0.114429 5.40785 0.0722926 5.34577 0.0435445 5.27744C0.0147965 5.20912 0 5.13589 0 5.06193C0 4.98798 0.0147965 4.91475 0.0435445 4.84643C0.0722926 4.7781 0.114429 4.71602 0.167549 4.66373C0.274829 4.55812 0.420331 4.49879 0.572047 4.49879C0.64717 4.49879 0.721557 4.51335 0.790961 4.54165C0.860365 4.56995 0.923426 4.61144 0.976546 4.66373L3.42867 7.07883V0.562437C3.42867 0.41327 3.48887 0.270212 3.59601 0.164734C3.70316 0.0592567 3.84848 0 4 0Z" fill="#F34743"/>
                        </svg>
                    .accordion__content.footer__accordion-content 
                        .footer__accordion-list
                            a(href="#!").footer__accordion-link Офис
                            a(href="#!").footer__accordion-link Склад
        .footer__nav 
            .footer__nav-body.container
                .footer__nav-row
                    .footer__nav-col 
                        p.footer__nav-p #[span ©] 2012—2022
                        p.footer__nav-p ООО «ГлавКреп»
                        p.footer__nav-p Made in #[a(href="#!") vysota]
                .footer__nav-row
                    .footer__nav-col 
                        p.footer__nav-p 
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 18.75C8.26942 18.75 6.57769 18.2368 5.13876 17.2754C3.69983 16.3139 2.57832 14.9473 1.91606 13.3485C1.25379 11.7496 1.08051 9.9903 1.41813 8.29296C1.75575 6.59563 2.58911 5.03653 3.81282 3.81282C5.03653 2.58911 6.59563 1.75575 8.29296 1.41813C9.9903 1.08051 11.7496 1.25379 13.3485 1.91606C14.9473 2.57832 16.3139 3.69983 17.2754 5.13876C18.2368 6.57769 18.75 8.26942 18.75 10C18.75 12.3206 17.8281 14.5462 16.1872 16.1872C14.5462 17.8281 12.3206 18.75 10 18.75ZM10 2.5C8.51664 2.5 7.0666 2.93987 5.83323 3.76398C4.59986 4.58809 3.63856 5.75943 3.07091 7.12988C2.50325 8.50032 2.35473 10.0083 2.64411 11.4632C2.9335 12.918 3.64781 14.2544 4.6967 15.3033C5.7456 16.3522 7.08197 17.0665 8.53683 17.3559C9.99168 17.6453 11.4997 17.4968 12.8701 16.9291C14.2406 16.3614 15.4119 15.4001 16.236 14.1668C17.0601 12.9334 17.5 11.4834 17.5 10C17.5 8.01088 16.7098 6.10323 15.3033 4.6967C13.8968 3.29018 11.9891 2.5 10 2.5Z" fill="#F24843"/>
                                <path d="M12.8688 13.75L9.375 10.2562V4.375H10.625V9.7375L13.75 12.8687L12.8688 13.75Z" fill="#F24843"/>
                            </svg>
                            | График работы
                        p.footer__nav-b 5/2 с 09:00 до 18:00
                    .footer__nav-col 
                        p.footer__nav-p 
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 18.75C8.26942 18.75 6.57769 18.2368 5.13876 17.2754C3.69983 16.3139 2.57832 14.9473 1.91606 13.3485C1.25379 11.7496 1.08051 9.9903 1.41813 8.29296C1.75575 6.59563 2.58911 5.03653 3.81282 3.81282C5.03653 2.58911 6.59563 1.75575 8.29296 1.41813C9.9903 1.08051 11.7496 1.25379 13.3485 1.91606C14.9473 2.57832 16.3139 3.69983 17.2754 5.13876C18.2368 6.57769 18.75 8.26942 18.75 10C18.75 12.3206 17.8281 14.5462 16.1872 16.1872C14.5462 17.8281 12.3206 18.75 10 18.75ZM10 2.5C8.51664 2.5 7.0666 2.93987 5.83323 3.76398C4.59986 4.58809 3.63856 5.75943 3.07091 7.12988C2.50325 8.50032 2.35473 10.0083 2.64411 11.4632C2.9335 12.918 3.64781 14.2544 4.6967 15.3033C5.7456 16.3522 7.08197 17.0665 8.53683 17.3559C9.99168 17.6453 11.4997 17.4968 12.8701 16.9291C14.2406 16.3614 15.4119 15.4001 16.236 14.1668C17.0601 12.9334 17.5 11.4834 17.5 10C17.5 8.01088 16.7098 6.10323 15.3033 4.6967C13.8968 3.29018 11.9891 2.5 10 2.5Z" fill="#F24843"/>
                                <path d="M12.8688 13.75L9.375 10.2562V4.375H10.625V9.7375L13.75 12.8687L12.8688 13.75Z" fill="#F24843"/>
                            </svg>
                            | г. Санкт-Петербург,
                        p.footer__nav-b Ленинский проспект, дом 160 лит.А
                .footer__nav-row
                    .footer__nav-col 
                        a(href="#!").footer__nav-btn Заказать звонок
                    .footer__nav-col 
                        a(href="tel:+78124256889").footer__nav-link +7 (812) #[span 425-68-89]
                        a(href="mailto:gk@glavkrep.ru").footer__nav-link gk@glavkrep.ru
                    .footer__nav-col 
                        .footer__soc 
                            a(href="#!").footer__nav-soc-link 
                                img(src="@img/wk.svg", alt="" draggable="false") 
                            a(href="#!").footer__nav-soc-link 
                                img(src="@img/ok.svg", alt="" draggable="false") 
                            a(href="#!").footer__nav-soc-link 
                                img(src="@img/telegram.svg", alt="" draggable="false") 
