mixin header()
    header.header 
        .header__body.container 
            ul.header__list
                li.header__li 
                    a(href="#!").header__link.active О компании 
                li.header__li 
                    a(href="#!").header__link Услуги
                li.header__li 
                    a(href="#!").header__link Доставка
                li.header__li 
                    a(href="#!").header__link Информация
                li.header__li 
                    a(href="#!").header__link Контакты
            .header__action 
                