mixin header()
    header.header 
        .header__body.container 
            .header__left
                button.header__button 
                    span.header__button-line 
                p Меню
            ul.header__list
                li.header__li 
                    a(href="#!").header__link.active О компании 
                li.header__li 
                    a(href="#!").header__link Услуги
                li.header__li 
                    a(href="#!").header__link Доставка
                li.header__li 
                    a(href="#!").header__link Информация
                li.header__li 
                    a(href="#!").header__link Контакты
            .header__action 
                a(href="#!").header__tel Заказать звонок
                .header__action-col
                    a(href="tel:+78124256889").header__p +7 (812) #[span 425-68-89]
                    a(href="mailto:gk@glavkrep.ru").header__p gk@glavkrep.ru
                a(href="tel:+78124256889").header__btn.md 
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.0175 11.297C14.991 11.275 11.9965 9.132 11.184 9.2725C10.7935 9.3415 10.57 9.6075 10.1225 10.141C10.0505 10.227 9.877 10.4325 9.743 10.579C9.46016 10.4869 9.18429 10.3746 8.9175 10.243C7.54026 9.5725 6.4275 8.45974 5.757 7.0825C5.62543 6.81571 5.51315 6.53984 5.421 6.257C5.568 6.1225 5.774 5.949 5.862 5.875C6.3925 5.43 6.6585 5.2065 6.7275 4.8155C6.869 4.006 4.725 1.009 4.703 0.982C4.60536 0.843528 4.4782 0.728462 4.33069 0.645108C4.18317 0.561755 4.01899 0.512193 3.85 0.5C2.981 0.5 0.5 3.718 0.5 4.2605C0.5 4.292 0.5455 7.494 4.494 11.5105C8.506 15.4545 11.708 15.5 11.7395 15.5C12.282 15.5 15.5 13.019 15.5 12.15C15.4878 11.9809 15.4382 11.8167 15.3548 11.6692C15.2713 11.5217 15.1561 11.3945 15.0175 11.297ZM11.6845 14.497C11.2475 14.461 8.5605 14.1065 5.201 10.806C1.8835 7.4285 1.538 4.734 1.5035 4.3165C2.15889 3.28782 2.9504 2.35251 3.8565 1.536C3.8765 1.556 3.903 1.586 3.937 1.625C4.63191 2.57361 5.23054 3.58913 5.724 4.6565C5.56353 4.81794 5.39392 4.97002 5.216 5.112C4.9401 5.32223 4.68674 5.5605 4.46 5.823L4.3385 5.993L4.3745 6.1985C4.48031 6.65686 4.64238 7.10039 4.857 7.519C5.62594 9.09801 6.90188 10.3738 8.481 11.1425C8.89952 11.3574 9.34307 11.5197 9.8015 11.6255L10.007 11.6615L10.177 11.54C10.4405 11.3123 10.6798 11.0579 10.891 10.781C11.0475 10.594 11.257 10.3445 11.336 10.274C12.4064 10.767 13.4245 11.3663 14.375 12.063C14.4165 12.098 14.4455 12.125 14.465 12.1425C13.6486 13.0489 12.7133 13.8406 11.6845 14.496V14.497Z"/>
                    </svg>
                a(href="#!").header__btn 
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.296754 0.845898C0.296754 0.700029 0.354701 0.560135 0.457846 0.45699C0.560991 0.353845 0.700885 0.295898 0.846754 0.295898H1.32855C2.12825 0.295898 2.58805 0.816198 2.85425 1.3354C3.03575 1.6907 3.16665 2.1241 3.27555 2.5003H14.6001C14.77 2.50035 14.9377 2.53979 15.0898 2.61552C15.242 2.69125 15.3745 2.80121 15.4771 2.93677C15.5796 3.07234 15.6493 3.22982 15.6807 3.39685C15.7122 3.56389 15.7045 3.73594 15.6583 3.8995L14.0127 9.702C13.8818 10.1624 13.6043 10.5675 13.2224 10.8559C12.8404 11.1443 12.3749 11.3004 11.8963 11.3003H6.30935C5.82676 11.3005 5.35749 11.1419 4.97386 10.8491C4.59023 10.5564 4.31352 10.1455 4.18635 9.68L3.48015 7.0895C3.4761 7.07789 3.47244 7.06615 3.46915 7.0543L2.33505 3.2076L2.22505 2.8369C2.11505 2.4563 2.01825 2.1197 1.87305 1.837C1.69815 1.496 1.53755 1.397 1.32745 1.397H0.845654C0.699785 1.397 0.55989 1.33905 0.456745 1.23591C0.3536 1.13276 0.295654 0.992867 0.295654 0.846998L0.296754 0.845898ZM4.52955 6.7573L5.24785 9.3929C5.31154 9.62557 5.44994 9.83085 5.64174 9.97714C5.83355 10.1234 6.06813 10.2026 6.30935 10.2025H11.8974C12.1365 10.2023 12.3691 10.1241 12.5599 9.97975C12.7506 9.83545 12.8892 9.6329 12.9545 9.4028L14.6001 3.6003H3.60005L4.52955 6.7562V6.7573ZM8.00005 14.0492C8.00005 14.4868 7.82621 14.9065 7.51678 15.2159C7.20735 15.5254 6.78766 15.6992 6.35005 15.6992C5.91245 15.6992 5.49276 15.5254 5.18333 15.2159C4.87389 14.9065 4.70005 14.4868 4.70005 14.0492C4.70005 13.6116 4.87389 13.1919 5.18333 12.8825C5.49276 12.573 5.91245 12.3992 6.35005 12.3992C6.78766 12.3992 7.20735 12.573 7.51678 12.8825C7.82621 13.1919 8.00005 13.6116 8.00005 14.0492ZM6.90005 14.0492C6.90005 13.9033 6.84211 13.7634 6.73896 13.6603C6.63582 13.5571 6.49592 13.4992 6.35005 13.4992C6.20418 13.4992 6.06429 13.5571 5.96114 13.6603C5.858 13.7634 5.80005 13.9033 5.80005 14.0492C5.80005 14.1951 5.858 14.335 5.96114 14.4381C6.06429 14.5413 6.20418 14.5992 6.35005 14.5992C6.49592 14.5992 6.63582 14.5413 6.73896 14.4381C6.84211 14.335 6.90005 14.1951 6.90005 14.0492ZM13.5001 14.0492C13.5001 14.4868 13.3262 14.9065 13.0168 15.2159C12.7073 15.5254 12.2877 15.6992 11.8501 15.6992C11.4124 15.6992 10.9928 15.5254 10.6833 15.2159C10.3739 14.9065 10.2001 14.4868 10.2001 14.0492C10.2001 13.6116 10.3739 13.1919 10.6833 12.8825C10.9928 12.573 11.4124 12.3992 11.8501 12.3992C12.2877 12.3992 12.7073 12.573 13.0168 12.8825C13.3262 13.1919 13.5001 13.6116 13.5001 14.0492ZM12.4001 14.0492C12.4001 13.9033 12.3421 13.7634 12.239 13.6603C12.1358 13.5571 11.9959 13.4992 11.8501 13.4992C11.7042 13.4992 11.5643 13.5571 11.4611 13.6603C11.358 13.7634 11.3001 13.9033 11.3001 14.0492C11.3001 14.1951 11.358 14.335 11.4611 14.4381C11.5643 14.5413 11.7042 14.5992 11.8501 14.5992C11.9959 14.5992 12.1358 14.5413 12.239 14.4381C12.3421 14.335 12.4001 14.1951 12.4001 14.0492Z"/>
                    </svg>
                a(href="#!").header__btn
                    <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.2891 10.9312C10.9943 10.2331 10.5666 9.59891 10.0297 9.06406C9.49446 8.52767 8.86039 8.10001 8.16254 7.80469C8.15629 7.80156 8.15004 7.8 8.14379 7.79688C9.11722 7.09375 9.75004 5.94844 9.75004 4.65625C9.75004 2.51562 8.01566 0.78125 5.87504 0.78125C3.73441 0.78125 2.00004 2.51562 2.00004 4.65625C2.00004 5.94844 2.63285 7.09375 3.60629 7.79844C3.60004 7.80156 3.59379 7.80312 3.58754 7.80625C2.88754 8.10156 2.25941 8.525 1.72035 9.06563C1.18396 9.60089 0.756296 10.235 0.460976 10.9328C0.170855 11.616 0.0143858 12.3485 3.90719e-05 13.0906C-0.000377967 13.1073 0.00254707 13.1239 0.00864193 13.1394C0.0147368 13.1549 0.0238781 13.1691 0.0355272 13.181C0.0471763 13.193 0.0610975 13.2025 0.0764706 13.2089C0.0918436 13.2154 0.108357 13.2188 0.125039 13.2188H1.06254C1.13129 13.2188 1.18598 13.1641 1.18754 13.0969C1.21879 11.8906 1.70316 10.7609 2.55941 9.90469C3.44535 9.01875 4.62191 8.53125 5.87504 8.53125C7.12816 8.53125 8.30472 9.01875 9.19066 9.90469C10.0469 10.7609 10.5313 11.8906 10.5625 13.0969C10.5641 13.1656 10.6188 13.2188 10.6875 13.2188H11.625C11.6417 13.2188 11.6582 13.2154 11.6736 13.2089C11.689 13.2025 11.7029 13.193 11.7145 13.181C11.7262 13.1691 11.7353 13.1549 11.7414 13.1394C11.7475 13.1239 11.7505 13.1073 11.75 13.0906C11.7344 12.3438 11.5797 11.6172 11.2891 10.9312ZM5.87504 7.34375C5.15785 7.34375 4.48285 7.06406 3.97504 6.55625C3.46723 6.04844 3.18754 5.37344 3.18754 4.65625C3.18754 3.93906 3.46723 3.26406 3.97504 2.75625C4.48285 2.24844 5.15785 1.96875 5.87504 1.96875C6.59222 1.96875 7.26722 2.24844 7.77504 2.75625C8.28285 3.26406 8.56254 3.93906 8.56254 4.65625C8.56254 5.37344 8.28285 6.04844 7.77504 6.55625C7.26722 7.06406 6.59222 7.34375 5.87504 7.34375Z"/>
                    </svg>
    nav.nav 
        .nav__body.container 
            a(href="index.html").nav__logo  
                img(src="@img/logo.svg", alt="" draggable="false") 
            .nav__katalog 
                button(type="button").nav__katalog-btn
                    | Каталог
                    <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C4.15153 0 4.29684 0.0592567 4.40399 0.164734C4.51113 0.270212 4.57133 0.41327 4.57133 0.562437V7.07883L7.02345 4.66373C7.07657 4.61144 7.13964 4.56995 7.20904 4.54165C7.27844 4.51335 7.35283 4.49879 7.42795 4.49879C7.50308 4.49879 7.57746 4.51335 7.64687 4.54165C7.71627 4.56995 7.77933 4.61144 7.83245 4.66373C7.88557 4.71602 7.92771 4.7781 7.95646 4.84643C7.9852 4.91475 8 4.98798 8 5.06193C8 5.13589 7.9852 5.20912 7.95646 5.27744C7.92771 5.34577 7.88557 5.40785 7.83245 5.46014L4.4045 8.83476C4.35143 8.88714 4.28838 8.9287 4.21897 8.95705C4.14956 8.9854 4.07515 9 4 9C3.92485 9 3.85044 8.9854 3.78103 8.95705C3.71162 8.9287 3.64857 8.88714 3.5955 8.83476L0.167549 5.46014C0.114429 5.40785 0.0722926 5.34577 0.0435445 5.27744C0.0147965 5.20912 0 5.13589 0 5.06193C0 4.98798 0.0147965 4.91475 0.0435445 4.84643C0.0722926 4.7781 0.114429 4.71602 0.167549 4.66373C0.274829 4.55812 0.420331 4.49879 0.572047 4.49879C0.64717 4.49879 0.721557 4.51335 0.790961 4.54165C0.860365 4.56995 0.923426 4.61144 0.976546 4.66373L3.42867 7.07883V0.562437C3.42867 0.41327 3.48887 0.270212 3.59601 0.164734C3.70316 0.0592567 3.84848 0 4 0Z"/>
                    </svg>
                .nav__katalog-content
                    .nav__katalog-row
                        .nav__katalog-col
                            a(href="#!").nav__katalog-link Метрический крепеж 
                            a(href="#!").nav__katalog-link Саморезы / Шурупы 
                            a(href="#!").nav__katalog-link Анкеры
                            a(href="#!").nav__katalog-link Перфорированный крепеж
                            a(href="#!").nav__katalog-link Дюбеля / Дюбель-гвозди
                            a(href="#!").nav__katalog-link Заклепки 
                        .nav__katalog-col
                            a(href="#!").nav__katalog-link Такелажная продукция 
                            a(href="#!").nav__katalog-link Нержавеющий крепеж 
                            a(href="#!").nav__katalog-link Инструмент и расходные материалы
                            a(href="#!").nav__katalog-link Крепеж ГОСТ
                            a(href="#!").nav__katalog-link Крепеж для вентиляции
                            a(href="#!").nav__katalog-link Сантехника
                        .nav__katalog-col
                            a(href="#!").nav__katalog-link Электротехническая продукция 
                            a(href="#!").nav__katalog-link Химия 
                    a(href="#!").nav__katalog-button Скачать каталог #[span .xls] 
            .nav__search 
                input(type="text" placeholder="Введите название крепежа, DIN или ГОСТ")
                button(type="submit") 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.125 17.2411L13.405 12.5211C14.5392 11.1595 15.1049 9.41291 14.9842 7.64483C14.8635 5.87675 14.0658 4.22326 12.757 3.02834C11.4483 1.83341 9.72921 1.18906 7.95747 1.22932C6.18573 1.26958 4.49772 1.99134 3.24458 3.24448C1.99145 4.49761 1.26968 6.18562 1.22942 7.95736C1.18917 9.7291 1.83352 11.4482 3.02844 12.7569C4.22337 14.0657 5.87685 14.8634 7.64494 14.9841C9.41302 15.1047 11.1596 14.5391 12.5212 13.4049L17.2412 18.1249L18.125 17.2411ZM2.5 8.12489C2.5 7.01237 2.8299 5.92483 3.44798 4.99981C4.06606 4.07478 4.94457 3.35381 5.9724 2.92807C7.00024 2.50232 8.13124 2.39093 9.22238 2.60797C10.3135 2.82501 11.3158 3.36074 12.1025 4.14741C12.8891 4.93408 13.4249 5.93636 13.6419 7.02751C13.859 8.11865 13.7476 9.24965 13.3218 10.2775C12.8961 11.3053 12.1751 12.1838 11.2501 12.8019C10.3251 13.42 9.23752 13.7499 8.125 13.7499C6.63366 13.7482 5.20388 13.1551 4.14935 12.1005C3.09481 11.046 2.50165 9.61623 2.5 8.12489Z" fill="#F34743"/>
                    </svg>
