mixin offer()
    .offer 
        .offer__body.container 
            .offer__item
                .offer__item-img
                    img(src="@img/offer-1.png", alt="" draggable="false")
                .offer__item-content 
                    p.offer__item-title Есть список позиций? #[br] #[a(href="#!") Рассчитаем смету ]
                    a(href="#!").offer__item-btn Отправить файл 
            .offer__item
                .offer__item-img
                    img(src="@img/offer-2.png", alt="" draggable="false")
                .offer__item-content 
                    p.offer__item-title Загрузите полный каталог продукции в формате #[span .xls ]
                    a(href="#!").offer__item-btn Скачать каталог 