mixin fastener-item-1()
    a(href="katalog.html").fastener-catalog__item
        .fastener-catalog__item-img
            img(src="@img/fastener-1.png", alt="" draggable="false")
        div 
            p.fastener-catalog__item-title Анкеры
            p.fastener-catalog__item-p 3500 + товаров
        .especially
            div
                .fastener-catalog__link Болты 
                .fastener-catalog__link Гайки 
                .fastener-catalog__link Шайбы 
                .fastener-catalog__link Винты 
                .fastener-catalog__link ... 
            .fastener-catalog__link Еще 200 подразделов


mixin fastener-item-2()
    a(href="katalog.html").fastener-catalog__item
        .fastener-catalog__item-img
            img(src="@img/fastener-2.png", alt="" draggable="false")
        div 
            p.fastener-catalog__item-title Дюбеля / Дюбель гвозди   
            p.fastener-catalog__item-p 3500 + товаров
        .especially
            div
                .fastener-catalog__link Болты 
                .fastener-catalog__link Гайки 
                .fastener-catalog__link Шайбы 
                .fastener-catalog__link Винты 
                .fastener-catalog__link ... 
            .fastener-catalog__link Еще 200 подразделов


doctype html
html(lang="en")
    head
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            include components/header 
            +header 
            main.main 
                .container 
                    h1.title Каталог крепежа
                    .breadcrumbs 
                        a(href="#!").breadcrumbs__link Главная 
                        p.breadcrumbs__p | 
                        a(href="#!").breadcrumbs__link ... 
                    .fastener-catalog 
                        +fastener-item-1
                        +fastener-item-2
                        +fastener-item-1
                        +fastener-item-2
                        +fastener-item-1
                        +fastener-item-2
                        +fastener-item-1
                        +fastener-item-2
                        +fastener-item-1
                        +fastener-item-2
                        +fastener-item-1
                        +fastener-item-2
                        +fastener-item-1
                        +fastener-item-2
                        +fastener-item-1
                include components/offer 
                +offer
                include components/info 
                +info
            include components/footer 
            +footer 
        script(src="js/app.min.js") 