doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            include components/header 
            +header 
            main.main 
                .detail 
                    .detail__body.container 
                        .detail__sidebar 
                            .detail__sidebar-items
                                .detail__sidebar-item
                                    .detail__sidebar-item-svg
                                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.125 12.5H12.5V14.0625H3.125V12.5ZM1.5625 8.59375H9.375V10.1562H1.5625V8.59375Z" fill="#F34743"/>
                                            <path d="M23.3742 12.9734L21.0305 7.50469C20.9703 7.36412 20.8702 7.24432 20.7426 7.16016C20.6149 7.07599 20.4654 7.03117 20.3125 7.03125H17.9687V5.46875C17.9687 5.26155 17.8864 5.06284 17.7399 4.91632C17.5934 4.76981 17.3947 4.6875 17.1875 4.6875H4.68749V6.25H16.4062V16.0594C16.0502 16.2661 15.7387 16.5412 15.4896 16.8689C15.2404 17.1967 15.0586 17.5704 14.9547 17.9688H10.0453C9.85515 17.2323 9.40293 16.5905 8.77342 16.1636C8.1439 15.7367 7.38031 15.5541 6.62577 15.6499C5.87123 15.7457 5.17754 16.1135 4.67474 16.6842C4.17193 17.2549 3.89453 17.9894 3.89453 18.75C3.89453 19.5106 4.17193 20.2451 4.67474 20.8158C5.17754 21.3865 5.87123 21.7543 6.62577 21.8501C7.38031 21.9459 8.1439 21.7633 8.77342 21.3364C9.40293 20.9095 9.85515 20.2677 10.0453 19.5312H14.9547C15.1246 20.2017 15.5133 20.7964 16.0592 21.2212C16.6051 21.646 17.277 21.8767 17.9687 21.8767C18.6604 21.8767 19.3324 21.646 19.8783 21.2212C20.4242 20.7964 20.8128 20.2017 20.9828 19.5312H22.6562C22.8634 19.5312 23.0622 19.4489 23.2087 19.3024C23.3552 19.1559 23.4375 18.9572 23.4375 18.75V13.2812C23.4375 13.1754 23.416 13.0707 23.3742 12.9734V12.9734ZM7.03124 20.3125C6.7222 20.3125 6.42011 20.2209 6.16316 20.0492C5.90621 19.8775 5.70594 19.6335 5.58767 19.3479C5.46941 19.0624 5.43847 18.7483 5.49876 18.4452C5.55905 18.1421 5.70786 17.8637 5.92638 17.6451C6.1449 17.4266 6.42331 17.2778 6.72641 17.2175C7.0295 17.1572 7.34367 17.1882 7.62918 17.3064C7.91469 17.4247 8.15872 17.625 8.33041 17.8819C8.5021 18.1389 8.59374 18.441 8.59374 18.75C8.59332 19.1643 8.42857 19.5615 8.13563 19.8544C7.8427 20.1473 7.44551 20.3121 7.03124 20.3125V20.3125ZM17.9687 8.59375H19.7969L21.4719 12.5H17.9687V8.59375ZM17.9687 20.3125C17.6597 20.3125 17.3576 20.2209 17.1007 20.0492C16.8437 19.8775 16.6434 19.6335 16.5252 19.3479C16.4069 19.0624 16.376 18.7483 16.4363 18.4452C16.4965 18.1421 16.6454 17.8637 16.8639 17.6451C17.0824 17.4266 17.3608 17.2778 17.6639 17.2175C17.967 17.1572 18.2812 17.1882 18.5667 17.3064C18.8522 17.4247 19.0962 17.625 19.2679 17.8819C19.4396 18.1389 19.5312 18.441 19.5312 18.75C19.5308 19.1643 19.3661 19.5615 19.0731 19.8544C18.7802 20.1473 18.383 20.3121 17.9687 20.3125ZM21.875 17.9688H20.9828C20.8107 17.2996 20.4214 16.7064 19.876 16.2822C19.3305 15.8581 18.6597 15.6269 17.9687 15.625V14.0625H21.875V17.9688Z" fill="#F34743"/>
                                        </svg>
                                    .detail__sidebar-item-content 
                                        p.detail__sidebar-item-title Бесплатная доставка
                                        p.detail__sidebar-item-p По Санкт - Петербургу и ЛО при заказе от 30 000 р.
                                .detail__sidebar-item
                                    .detail__sidebar-item-svg
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.875 1.75V18.25H2.125V1.75H15.875ZM15.875 0.375H2.125C1.76033 0.375 1.41059 0.519866 1.15273 0.777728C0.894866 1.03559 0.75 1.38533 0.75 1.75V18.25C0.75 18.6147 0.894866 18.9644 1.15273 19.2223C1.41059 19.4801 1.76033 19.625 2.125 19.625H15.875C16.2397 19.625 16.5894 19.4801 16.8473 19.2223C17.1051 18.9644 17.25 18.6147 17.25 18.25V1.75C17.25 1.38533 17.1051 1.03559 16.8473 0.777728C16.5894 0.519866 16.2397 0.375 15.875 0.375Z" fill="#F34743"/>
                                            <path d="M4.1875 14.8125H5.5625V16.1875H4.1875V14.8125ZM12.4375 14.8125H13.8125V16.1875H12.4375V14.8125ZM4.1875 11.375H5.5625V12.75H4.1875V11.375ZM12.4375 11.375H13.8125V12.75H12.4375V11.375ZM4.1875 7.9375H5.5625V9.3125H4.1875V7.9375ZM8.3125 14.8125H9.6875V16.1875H8.3125V14.8125ZM8.3125 11.375H9.6875V12.75H8.3125V11.375ZM8.3125 7.9375H9.6875V9.3125H8.3125V7.9375ZM12.4375 7.9375H13.8125V9.3125H12.4375V7.9375ZM4.1875 3.8125H13.8125V5.875H4.1875V3.8125Z" fill="#F34743"/>
                                        </svg>
                                    .detail__sidebar-item-content 
                                        p.detail__sidebar-item-title Расчет доставки онлайн
                                        p.detail__sidebar-item-p Узнайте стоимость доставки прямо в Корзине на сайте.
                                .detail__sidebar-item
                                    .detail__sidebar-item-svg
                                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_228_374)">
                                            <path d="M9.72087 1.32186C9.57911 1.26504 9.42089 1.26504 9.27913 1.32186L2.19212 4.15642L5.04688 5.29761L12.3548 2.37517L9.72087 1.32186ZM13.9531 3.01523L6.64525 5.93767L9.5 7.07886L16.8079 4.15642L13.9531 3.01523V3.01523ZM17.8125 5.03398L10.0938 8.12148V17.5289L17.8125 14.4414V5.03517V5.03398ZM8.90625 17.53V8.12029L1.1875 5.03398V14.4425L8.90625 17.53V17.53ZM8.83856 0.218669C9.26317 0.0488552 9.73683 0.0488552 10.1614 0.218669L18.6271 3.60542C18.7372 3.64953 18.8315 3.72558 18.898 3.82379C18.9644 3.92199 19 4.03784 19 4.15642V14.4425C18.9998 14.6798 18.9286 14.9116 18.7955 15.1081C18.6623 15.3045 18.4734 15.4565 18.2531 15.5445L9.72087 18.9574C9.57911 19.0142 9.42089 19.0142 9.27913 18.9574L0.748125 15.5445C0.527548 15.4567 0.338369 15.3047 0.205012 15.1083C0.0716558 14.9119 0.000245016 14.68 0 14.4425L0 4.15642C2.75974e-05 4.03784 0.0355582 3.92199 0.102015 3.82379C0.168471 3.72558 0.262809 3.64953 0.372875 3.60542L8.83856 0.218669Z" fill="#F34743"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_228_374">
                                            <rect width="19" height="19" fill="white"/>
                                            </clipPath>
                                            </defs>
                                        </svg>
                                    .detail__sidebar-item-content 
                                        p.detail__sidebar-item-title Самовывоз завтра
                                        p.detail__sidebar-item-p Забрать заказ самостоятельно на следующий день после его оплаты.
                                .detail__sidebar-item
                                    .detail__sidebar-item-svg
                                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.75 9.5C13.5511 9.5 13.3603 9.57902 13.2197 9.71967C13.079 9.86032 13 10.0511 13 10.25C13 10.4489 13.079 10.6397 13.2197 10.7803C13.3603 10.921 13.5511 11 13.75 11H16.25C16.4489 11 16.6397 10.921 16.7803 10.7803C16.921 10.6397 17 10.4489 17 10.25C17 10.0511 16.921 9.86032 16.7803 9.71967C16.6397 9.57902 16.4489 9.5 16.25 9.5H13.75ZM2.75 0C2.02065 0 1.32118 0.289731 0.805456 0.805456C0.289731 1.32118 0 2.02065 0 2.75V11.25C0 11.9793 0.289731 12.6788 0.805456 13.1945C1.32118 13.7103 2.02065 14 2.75 14H17.25C17.9793 14 18.6788 13.7103 19.1945 13.1945C19.7103 12.6788 20 11.9793 20 11.25V2.75C20 2.02065 19.7103 1.32118 19.1945 0.805456C18.6788 0.289731 17.9793 0 17.25 0H2.75ZM1.5 11.25V6H18.5V11.25C18.5 11.94 17.94 12.5 17.25 12.5H2.75C2.06 12.5 1.5 11.94 1.5 11.25ZM1.5 4.5V2.75C1.5 2.06 2.06 1.5 2.75 1.5H17.25C17.94 1.5 18.5 2.06 18.5 2.75V4.5H1.5Z" fill="#F34743"/>
                                        </svg>
                                    .detail__sidebar-item-content 
                                        p.detail__sidebar-item-title Оплата
                                        p.detail__sidebar-item-p Безналичная оплата по счету.
                            .detail__sidebar-infos                                
                                .detail__sidebar-info
                                    p.detail__sidebar-info-title Есть список позиций? #[br] #[a(href="#!") Рассчитаем смету ]
                                    a(href="#!").detail__sidebar-info-btn Отправить файл 
                                .detail__sidebar-info
                                    p.detail__sidebar-info-title Загрузите полный каталог продукции в формате #[span .xls ]
                                    a(href="#!").detail__sidebar-info-btn Скачать каталог 
                        .detail__content 
                            .detail__intro 
                                .detail__intro-img 
                                    img(src="@img/product.png", alt="" draggable="false")
                                .detail__intro-content
                                    h1.title.detail__intro-title Саморез универсальный ШУЖ, желтый цинк
                                    .breadcrumbs-row.detail__intro-breadcrumbs
                                        a(href="index.html").breadcrumbs__btn 
                                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00092 3.50063C8.00092 3.63324 7.94824 3.76042 7.85447 3.85419C7.7607 3.94795 7.63352 4.00063 7.50092 4.00063L1.70792 4.00063L3.85492 6.14663C3.9014 6.19312 3.93828 6.24831 3.96344 6.30905C3.9886 6.36979 4.00155 6.43489 4.00155 6.50063C4.00155 6.56638 3.9886 6.63148 3.96344 6.69222C3.93828 6.75295 3.9014 6.80814 3.85492 6.85463C3.80843 6.90112 3.75324 6.938 3.6925 6.96316C3.63176 6.98831 3.56666 7.00126 3.50092 7.00126C3.43517 7.00126 3.37007 6.98831 3.30933 6.96316C3.24859 6.938 3.1934 6.90112 3.14692 6.85463L0.146915 3.85463C0.100352 3.80819 0.0634096 3.75301 0.0382031 3.69226C0.0129965 3.63152 2.17786e-05 3.5664 2.17815e-05 3.50063C2.17844e-05 3.43486 0.0129965 3.36974 0.0382031 3.309C0.0634097 3.24825 0.100352 3.19308 0.146915 3.14663L3.14692 0.146632C3.1934 0.100144 3.24859 0.0632672 3.30933 0.0381081C3.37007 0.0129491 3.43517 -1.99575e-07 3.50092 -1.96701e-07C3.56666 -1.93827e-07 3.63176 0.0129491 3.6925 0.0381082C3.75324 0.0632673 3.80843 0.100144 3.85492 0.146632C3.9488 0.240518 4.00155 0.367856 4.00155 0.500632C4.00155 0.566375 3.9886 0.631476 3.96344 0.692215C3.93828 0.752955 3.9014 0.808144 3.85492 0.854632L1.70792 3.00063L7.50092 3.00063C7.63352 3.00063 7.7607 3.05331 7.85447 3.14708C7.94824 3.24085 8.00092 3.36802 8.00092 3.50063Z" fill="#F24843"/>
                                            </svg>
                                            | Вернуться назад
                                        .breadcrumbs.mb-0 
                                            a(href="index.html").breadcrumbs__link Главная 
                                            p.breadcrumbs__p | 
                                            a(href="katalog.html").breadcrumbs__link Каталог продукции
                                            p.breadcrumbs__p | 
                                            a(href="#!").breadcrumbs__link ...
                                    .tags.detail__intro-tags  
                                        p.tags__title Теги:
                                        a(href="#!").tags__link саморезы белый цинк
                                        a(href="#!").tags__link саморезы желтый цинк
                                        a(href="#!").tags__link саморезы оцинкованные
                                        a(href="#!").tags__link саморезы и шурупы для сэндвич-панелей
                                        a(href="#!").tags__link шурупы оцинкованные
                                    .detail__intro-warning 
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 0C12.4184 0 16 3.5816 16 8C16 12.4184 12.4184 16 8 16C3.5816 16 0 12.4184 0 8C0 3.5816 3.5816 0 8 0ZM8 1.116C6.17425 1.116 4.42328 1.84128 3.13228 3.13228C1.84128 4.42328 1.116 6.17425 1.116 8C1.116 9.82575 1.84128 11.5767 3.13228 12.8677C4.42328 14.1587 6.17425 14.884 8 14.884C9.82575 14.884 11.5767 14.1587 12.8677 12.8677C14.1587 11.5767 14.884 9.82575 14.884 8C14.884 6.17425 14.1587 4.42328 12.8677 3.13228C11.5767 1.84128 9.82575 1.116 8 1.116ZM7.884 5.768C8.192 5.768 8.4416 6.0184 8.4416 6.3264V12.3728C8.43613 12.5171 8.37495 12.6537 8.27091 12.7539C8.16686 12.8541 8.02804 12.9101 7.8836 12.9101C7.73916 12.9101 7.60034 12.8541 7.4963 12.7539C7.39225 12.6537 7.33107 12.5171 7.3256 12.3728V6.3256C7.3256 6.0176 7.5752 5.768 7.884 5.768ZM7.9064 3.536C8.10372 3.536 8.29296 3.61439 8.43249 3.75391C8.57201 3.89344 8.6504 4.08268 8.6504 4.28C8.6504 4.47732 8.57201 4.66656 8.43249 4.80609C8.29296 4.94561 8.10372 5.024 7.9064 5.024C7.70908 5.024 7.51984 4.94561 7.38031 4.80609C7.24079 4.66656 7.1624 4.47732 7.1624 4.28C7.1624 4.08268 7.24079 3.89344 7.38031 3.75391C7.51984 3.61439 7.70908 3.536 7.9064 3.536Z" fill="#F34743"/>
                                        </svg>
                                        span DIN 933 = ГОСТ 7798-70, ГОСТ 7805-70 = ISO 4017
                                    .detail__intro-offer 
                                        p Отправьте заявку и получите оптовые цены!
                                        a(href="#!") Получить цены 
                                    .detail__intro-desc.disable-xxl #[span ГлавКреп — оптовая компания.] Рекомендуемая сумма заказа от #[span 10 000 рублей.]
                            .detail__intro-desc.enable-xxl #[span ГлавКреп — оптовая компания.] Рекомендуемая сумма заказа от #[span 10 000 рублей.]
                            
            include components/footer 
            +footer 
        script(src="js/app.min.js") 